<%= provide :title, t(".heading") %>
<h1>
  <%= t ".heading" %>
</h1>
<p>
  <%= t ".intro_help_page" %>
  <%= link_to t(".name"),  Settings.link.rails_help %>.
  <%= t ".intro_book_page" %>
  <%= link_to Settings.link.rails_book do %>
    <em><%= t "tutorial" %></em> <%= t ".book" %>.
  <% end %>
</p>
