<footer class="footer">
   <small>
      <%= t ".intro" %>
      <%= link_to t("tutorial"),  Settings.link.rails_home %>
      <%= t ".by" %>
      <%= link_to t(".author"), Settings.link.author %>
   </small>
   <nav>
      <ul>
        <li><%= link_to t(".about"), about_path %></li>
        <li><%= link_to t(".contact"), contact_path %></li>
        <li><%= link_to t(".news"),  Settings.link.news %></li>
      </ul>
   </nav>
</footer>
